* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/* Header was changed from a class attribute to a semantic element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* The <h1> Tag is only used in the header element. Therefore, header does not need to come before the <h1> tag because it is given */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* This has been changed to recognize the header as a semantic element as well as the following that are associated with the header element */
header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* The background-image was removed given that the HTML file has been revised.
 The hero class is now associated with an <img> tag where the link for the image is included */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* The main semantic element has been added and wraps its contents */
main{
    display: flex;
}
/* This captures the section attributes and sets the flex to a value of 2 */
.content-container{
    flex: 2;
}
/* This now captures all of the sections found in the main element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The sections found in the main element are now all captured in this one class */
.article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* This now captures all of the images with the class article */
.article img {
    max-height: 200px;
}
/* This now captures all of the <h2> tags with the class article */
.article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* This was moved to follow the structure of the HTML document */
.float-left {
    float: left;
    margin-right: 25px;
}
/* This was also moved to follow the structure of the HTML element */
.float-right {
    float: right;
    margin-left: 25px;
}
/* This sets the flex value to 0.2 and the margin-left. This also consolidates all of the classes associated with the aside element */
.benefits {
    margin-right: 20px;
    flex: 0.2;
    margin-left: -370px;
    padding: 20px;
    clear: both;
    float: right;
    width: 10%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}
/* The <h3> tag has been changed to not include the benefits class. This is because the header tags follow a logical order. 
The aside section is the only section that contains the <h3> tags. Therefore, it is given */
h3 {
    margin-bottom: 10px;
    text-align: center;
    padding: 25px;
}
/* This consolidates all of the images associated with the benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* This has been changed from a class attribute titled 'footer' to a footer semantic element */
footer {
    padding: 10px;
    height: 5px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}
/* This has also been edited to acknowledge footer as a semnatic element rather than a class attribute */
footer h2 {
    font-size: 20px;
}